<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>Burger</title>

    <link rel="stylesheet" href="/assets/css/style.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Anton|Londrina+Shadow" rel="stylesheet">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>    
    <script src="/assets/javascript/burgers.js"></script> 
</head>
<body>

    {{{ body }}}

   
</body>
</html>