<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="center-align">
                <img src="./assets/images/burger.png" alt="Cartoon Burgers" id="burgerImage">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <h2 class="center-align" id="burgerTitle">IT'S BURGER TIME</h2>
        </div>
    </div>
    <div class="row">
        <div class="col s5">
            <ul class="center-align">
                {{#each burger}}
                    {{#unless devoured}}
                        {{> burgers/burgers-block devoured=false}}
                    {{/unless}}
                {{/each}}
            </ul>
        </div>
        <div class="col s5 offset-s1">
            <ul class="center-align">
                {{#each burger}}
                    {{#if devoured}}
                        {{> burgers/burgers-block devoured=true}}
                    {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
    <div class="row">
        <form class="col s12 offset-s3">
            <div class="row">
                <div class="input-field col s6">
                    <textarea id="textarea1" class="materialize-textarea"></textarea>
                    <label for="textarea1">ADD BURGER</label>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="center-align">
            <a class="waves-effect waves-light red lighten-1 z-depth-2 btn" id="addButton"><span id="buttonText">Add</span></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <p class="center-align">Enter a burger you want to eat and click the "add" button</p>
        </div>
    </div>
</div>