body {
    background-color: #ffffe0;
}

#burgerImage {
    height: 250px;
    margin-left: 30px;
}

#burgerTitle {
    /* font-family: 'Anton', sans-serif; */
    font-family: 'Sue Ellen Francisco', cursive;
    font-weight: bold;
    margin-top: -70px;
}

#addButton {
    margin-top: -80px;
}

ul {
    margin-top: -30px;
}

.burgerList {
    font-size: 35px;
    padding: 15px 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: #EF5350;
    font-family: 'Sue Ellen Francisco', cursive;
}

.buttonUl {
    margin-top: -25px;
}

.buttonList {
    font-size: 35px;
    padding: 15px 10px;
    margin: 2px;
    margin-left: -30px;
    border-radius: 5px;
    font-family: 'Sue Ellen Francisco', cursive;
}

#devourButton {
    height: 60px;
    padding-top: 15px;
    font-size: 40px;
}

#buttonText {
    font-family: 'Sue Ellen Francisco', cursive;
    font-weight: bold;
    font-size: 20px;
}

label,
p {
    font-family: 'Sue Ellen Francisco', cursive;
}

p {
    font-size: 30px;
    margin-top: -40px;
}