<li class="burgerList z-depth-2">
    {{ burger_name }}

    <button class="waves-effect waves-light light-green btn z-depth-2 devourButton" data-id="{{id}}" data-newdevoured="{{devoured}}">{{#unless devoured}} DEVOUR {{/unless}}</button>

</li>