<li class="burgerList z-depth-2">
    {{ burger_name }}

    <a class="waves-effect waves-light light-green btn z-depth-2" data-id="{{id}}" data-newdevoured="{{devoured}}" id="devourButton">{{#unless devoured}} DEVOUR {{/unless}}</a>

</li>